@page "/UserProfile/{username}"
@using HttpClients.ClientInterfaces
@using Domain.Classes
@inject IFoodPostService foodPostService
@inject IUserService userService
@inject IRatingService ratingService
@inject NavigationManager navMgr
@inject DialogService DialogService

@if (foodPosts == null)
{
    <p>Loading food posts...</p>
}
else if (user == null)
{
    <p>Loading user or user not found</p>
}
else
{
    <div id="profile_header" class="w-75 mx-auto mt-3">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row align-items-center">
                <img class="pfp me-3" src="https://media.tenor.com/Mhc96kB5_vYAAAAC/tonton-friends.gif" alt="pfp"/>
                <div class="d-flex flex-column">
                    <h2 class="firstname">@user.FirstName</h2>
                    <h3 class="username">@user.UserName</h3>
                </div>
            </div>
            <AuthorizeView>
                <Authorized>
                    <RadzenButton 
                        ButtonStyle="ButtonStyle.Dark"
                        Click="async () => { loggedInUsername = context.User.Claims.First(claim => claim.Type.Equals(claimUsername)).Value;
                                             await ShowRateDialog();}">Rate
                        </RadzenButton>
                </Authorized>
            </AuthorizeView>


            <div class="d-flex flex-column justify-content-center ratings">
                <div class="d-flex flex-row ">
                    <iconify-icon class="pt-1" icon="tabler:chef-hat" width="25" height="25"></iconify-icon>
                    <p> cook rating: </p><span class="d-inline px-2" id="cook_rating">@avgCookerRating</span>
                </div>
                <div id="picker_rating" class="d-flex flex-row ">
                    <iconify-icon class="pt-1" icon="icon-park-solid:knife-fork" width="25" height="25" style="color: white;"></iconify-icon>
                    <p> picker rating: </p><span class="d-inline px-2"> @avgPickerRating</span>
                </div>

            </div>
        </div>


    </div>
    <div id="profile_body">
        <RadzenTabs TabPosition="@tabPosition" Class="w-75 my-5 mx-auto" RenderMode="TabRenderMode.Client">
            <Tabs>
                <RadzenTabsItem Text="Food Posts">
                    <RadzenDataList PageSize="6" WrapItems="true" AllowPaging="true" Data="@foodPosts" TItem="FoodPost">
                        <Template Context="foodPost">
                            <RadzenCard Style="width: 250px;" Class="rz-border-radius-3">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text=@(foodPost.StartDate.DayAndMonth() + "-" + foodPost.EndDate.DayAndMonth()) Class="me-1" IsPill="true"/>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <RadzenBadge BadgeStyle="BadgeStyle.Dark" Text=@(foodPost.StartTime.ToString() + " - " + foodPost.EndTime.ToString()) Class="me-1" IsPill="true"/>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    @* pfp and username *@
                                    <div class="d-flex flex-column me-3">
                                        <RadzenImage Path=@foodPost.PictureUrl Class="rz-border-radius-10 float-start" Style="width: 80px; height: 80px;"/>
                                        <RadzenBadge class="mt-2" BadgeStyle="BadgeStyle.Secondary" Shade="Shade.Lighter" Text=@(foodPost.User.UserName) IsPill="true"/>
                                    </div>
                                    <div>
                                        <RadzenText TextStyle="TextStyle.Subtitle1" class="mb-0">
                                            <strong>@(foodPost.Title)</strong>
                                        </RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body2" class="mb-0">@foodPost.Category</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Caption" class="mb-0">@($"Expires in {foodPost.DaysUntilExpired} days")</RadzenText>
                                    </div>
                                </div>
                            </RadzenCard>
                        </Template>
                    </RadzenDataList>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Reservations">
                    <RadzenDataList PageSize="6" WrapItems="true" AllowPaging="true" Data="@reservations" TItem="Reservation">
                        <Template Context="reservation">
                            <RadzenCard Style="width: 250px;" Class="rz-border-radius-3">
                                <div class="d-flex d-table-row">
                                    <div class="d-flex flex-row align-items-center">
                                        <RadzenImage Path="@reservation.FoodPost.PictureUrl" Class="rz-border-radius-10 float-start me-3" Style="width: 80px; height: 80px;"/>
                                        <div>
                                            <RadzenText TextStyle="TextStyle.Subtitle1" class="mb-0">
                                                <strong>@reservation.FoodPost.Title</strong>
                                            </RadzenText>
                                            <RadzenText TextStyle="TextStyle.Body2" class="mb-0">@reservation.FoodPost.User.UserName </RadzenText>
                                        </div>
                                    </div>
                                    <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;"/>

                                    <div class="d-flex flex-column align-items-center ms-5">
                                        <RadzenText TextStyle="TextStyle.Subtitle1" class="mb-0">
                                            <strong>When?</strong>
                                        </RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body2" class="mb-0">@reservation.FoodPost.StartDate.DayAndMonth() - @reservation.FoodPost.EndDate.DayAndMonth()</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body2" class="mb-0">@reservation.FoodPost.StartTime.ToString() - @reservation.FoodPost.EndTime.ToString()</RadzenText>

                                        <div class="mt-3">
                                            <RadzenText TextStyle="TextStyle.Subtitle1" class="mb-0">
                                                <strong>Where?</strong>
                                            </RadzenText>
                                            <div>MAP HERE</div>
                                        </div>
                                    </div>
                                </div>
                            </RadzenCard>
                        </Template>
                    </RadzenDataList>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Ratings">
                    <RadzenDataList PageSize="6" WrapItems="true" AllowPaging="true" Data="@ratings" TItem="Rating">
                        <Template Context="rating">
                            <RadzenCard Style="width: 250px;" Class="rz-border-radius-3">
                                <div class="row">
                                    <RadzenRating ReadOnly="true" Stars="5" Value=@rating.Value></RadzenRating>
                                </div>
                                <div class="row">
                                    <RadzenText TextStyle="TextStyle.Subtitle1" class="mb-0">
                                        <strong>@username as a @rating.TypeOfRating</strong>
                                    </RadzenText>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div class="d-flex flex-column me-3">
                                        @switch (rating.TypeOfRating)
                                        {
                                            case "cook":
                                                <RadzenImage Path=@cookUrls[rating.Value] Class="float-start" Style="width: 80px; height: 80px;"/>
                                                break;
                                            case "picker":
                                                <RadzenImage Path=@pickerUrls[rating.Value] Class="float-start" Style="width: 80px; height: 80px;"/>
                                                break;
                                        }
                                        <RadzenBadge class="mt-2" BadgeStyle="BadgeStyle.Secondary" Shade="Shade.Lighter" Text=@rating.UsernameMakingRating IsPill="true"/>
                                    </div>
                                    <div>
                                        <RadzenText TextStyle="TextStyle.Body2" class="mb-0">@rating.Comment</RadzenText>
                                    </div>
                                </div>
                            </RadzenCard>
                        </Template>
                    </RadzenDataList>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
}

@code {
    private String claimUsername = "UserName"; // pls ignore i have some problems
    private IEnumerable<FoodPost> foodPosts;
    private IEnumerable<Reservation> reservations;
    private List<Rating> ratings;

    [Parameter]
    public string username { get; set; }

    private User user;
    public double avgCookerRating { get; set; }
    public double avgPickerRating { get; set; }

    private readonly string cookOneStarPicUrl = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/face-vomiting.png";
    private readonly string cookTwoStarsPicUrl = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/nauseated-face.png";
    private readonly string cookThreeStarsPicUrl = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/face-with-stuck-out-tongue.png";
    private readonly string cookFourStarsPicUrl = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/face-savouring-delicious-food.png";
    private readonly string cookFiveStarsPicUrl = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/star-struck.png";

    private readonly string pickerOneStarPicUrl = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/skull-and-crossbones.png";
    private readonly string pickerTwoStarsPicUrl = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/grimacing-face.png";
    private readonly string pickerThreeStarsPicUrl = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/upside-down-face.png";
    private readonly string pickerFourStarsPicUrl = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/grinning-face-with-smiling-eyes.png";
    private readonly string pickerFiveStarsPicUrl = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/smiling-face-with-halo.png";

    private int ratingType = 1;
    private String ratingComment = "";
    private int ratingValue = 1;

    private String loggedInUsername = "";

    private Dictionary<int, string> cookUrls { get; set; }
    private Dictionary<int, string> pickerUrls { get; set; }

    readonly TabPosition tabPosition = TabPosition.Left;

    protected override async Task OnInitializedAsync()
    {
        InitCookPicUrls();
        InitPickerPicUrls();
        user = await userService.GetUserByUsername(username);
        foodPosts = await foodPostService.GetAllFoodPostsByUser(username);
        ratings = await ratingService.GetAllByUserRated(username);
        reservations = await userService.GetAllReservationsByUser(username);

        avgCookerRating = GetAvgCookerRating();
        avgPickerRating = GetAvgPickerRating();
        
        
    }

    protected async Task RefetchRatings()
    {
        ratings = await ratingService.GetAllByUserRated(username);
    }

    protected void NavigateToProfile(string username)
    {
        navMgr.NavigateTo($"/UserProfile/{username}");
    }

    protected void InitCookPicUrls()
    {
        cookUrls = new Dictionary<int, string>
        {
            [1] = cookOneStarPicUrl,
            [2] = cookTwoStarsPicUrl,
            [3] = cookThreeStarsPicUrl,
            [4] = cookFourStarsPicUrl,
            [5] = cookFiveStarsPicUrl
        };
    }

    protected void InitPickerPicUrls()
    {
        pickerUrls = new Dictionary<int, string>
        {
            [1] = pickerOneStarPicUrl,
            [2] = pickerTwoStarsPicUrl,
            [3] = pickerThreeStarsPicUrl,
            [4] = pickerFourStarsPicUrl,
            [5] = pickerFiveStarsPicUrl
        };
    }

    protected double GetAvgCookerRating()
    {
        int total = 0;
        var cookerRatings = ratings.Where(r => r.TypeOfRating.Equals("cook"));
        if (!cookerRatings.Any())
        {
            return 0;
        }
        foreach (var rating in cookerRatings)
        {
            total += rating.Value;
        }
        double avg = total / Convert.ToDouble(cookerRatings.Count());
        return avg;
    }

    protected double GetAvgPickerRating()
    {
        int total = 0;
        var pickerRatings = ratings.Where(r => r.TypeOfRating.Equals("picker"));
        if (!pickerRatings.Any())
        {
            return 0;
        }
        foreach (var rating in pickerRatings)
        {
            total += rating.Value;
        }
        double avg = total / Convert.ToDouble(pickerRatings.Count());
        return avg;
    }

    private async Task SubmitRating()
    {
        String type = "";
        switch (ratingType)
        {
            case 1:
                type = "cook";
                break;
            case 2:
                type = "picker";
                break;
        }
        Rating newRating = new Rating(
            loggedInUsername,
            username, ratingValue,
            ratingComment, type);
        await ratingService.AddRating(newRating);
        await RefetchRatings();
    }

    async Task ShowRateDialog()
    {
        var result = await DialogService.OpenAsync($"Rate {username}.", ds =>
            @<div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-center">
                    <RadzenRadioButtonList @bind-Value=@ratingType TValue="int">
                        <Items>
                            <RadzenRadioButtonListItem Text="Cook" Value="1"/>
                            <RadzenRadioButtonListItem Text="Picker" Value="2"/>
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                <div class="big d-flex flex-row m-2 justify-content-center">
                    <RadzenRating @bind-Value=@ratingValue></RadzenRating>
                </div>
                <div class="d-flex flex-column">
                    <p class="no-mb">Leave a comment?</p>
                    <RadzenTextArea class="mb-2" @bind-Value=@ratingComment></RadzenTextArea>
                </div>
                <div class="d-flex flex-row justify-content-evenly">
                    <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" Class="me-1" Style="width: 80px;"/>
                    <RadzenButton Text="Rate" Click="async () => { await SubmitRating(); ds.Close(true);  }" Class="me-1" Style="width: 80px;"/>
                </div>
            </div>);
    }


}